checkpoints
__pycache__
imagenet_tiny
*.log
*.ckpt
data
wandb
.vscode
heun-steps*
log.txt
imagenet_openai_ref_images
*.jpg
*.npz
src
scan
*.txt
*.env
*.pem, 
secrets.yaml
scripts
scripts/*/local*.sh
checkpoints_vision
tmp_videos
weights
.DS_Store
local
*.mp4
tmp