**/__pycache__/
lightning_logs/
.ipynb_checkpoints/
*.egg-info
.pyc
results*
cmp_results*
logs*
recon.*
*.pt
*.npy
dataset/
**/span.log
cli/batch_post.py
model_arch*.txt
*.mp4
*.png
labels
video_vae_results
video_vae_results_bk
results
video_vae_results_full
bashrc_gpu_worker
hj_video_vae_results
wandb
